menu {
    background: @surface;
}

#custom-launcher {
    background: @primary;
    color: @on_primary;
}
#custom-launcher:hover {
    background: @secondary;
    color: @on_secondary;
}

#media {
    background: @secondary;
}
#custom-media-info {
    color: @on_secondary;
}
#custom-media-prev,
#custom-media-play,
#custom-media-next {
    color: @on_secondary;
}
#custom-media-prev:hover,
#custom-media-play:hover,
#custom-media-next:hover {
    color: @primary_container;
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button {
    background: @surface_variant;
    color: @on_surface_variant;
}
#workspaces button.active {
    background: @primary;
    color: @on_primary;
}
#workspaces button:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}
#workspaces button.visible,
#workspaces button.persistent {
    color: @on_primary;
}
#workspaces button.visible:hover,
#workspaces button.persistent:hover {
    color: @on_secondary_container;
}

#disk.root,
#disk.home,
#custom-minimize,
#custom-recorder,
#custom-brightness.off,
#bluetooth,
#pulseaudio,
#network,
#custom-mihomo,
#battery,
#language {
    background: @surface_variant;
    color: @on_surface_variant;
}

#custom-minimize:hover,
#custom-brightness:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#custom-mihomo:hover,
#battery:hover,
#language:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

#custom-brightness.on {
  background: @primary;
  color: @on_primary;
}

#custom-mihomo.connected {
  background: @primary;
  color: @on_primary;
}

#pulseaudio.muted {
    background: @tertiary_container;
    color: @on_tertiary_container;
}
#pulseaudio.muted:hover {
    background: @tertiary;
    color: @on_tertiary;
}

#tray {
    background: @surface_variant;
    color: @on_surface_variant;
}

#clock {
    background: @surface_variant;
    color: @on_surface_variant;
}

#custom-power {
    background: @primary;
    color: @on_primary;
}
#custom-power:hover {
    background: @secondary;
    color: @on_secondary;
}
