configuration {
    modi:                       "drun";
    show-icons:                 false;
    display-drun:               "";
}

@import "~/.config/rofi/colors.rasi"

* {
    font:                       "JetBrainsMono Nerd Font 11";
}

window {
    transparency:               "real";
    width:                      400px;
    border-color:               @bg-alt;
    background-color:           @bg;
    location:                   north east;
    anchor:                     north east;
    y-offset:                   20px;
    x-offset:                   -20px;
}

mainbox {
    padding:                    15px;
    children:                   [ "inputbar", "listview" ];
}

inputbar {
    margin:                     0 0 12px 0;
    children:                   [ "prompt", "entry" ];
}

prompt {
    text-color:                 @accent;
    margin:                     0 12px 0 0;
}

entry {
    text-color:                 @fg;
    placeholder:                "Search...";
    placeholder-color:          @select;
}

listview {
    columns:                    1;
    lines:                      8;
    fixed-height:               true;
    scrollbar:                  false;
    spacing:                    4px;
    border:                     0px;
}

element {
    padding:                    8px 12px;
}

element normal.normal {
    background-color:           transparent;
    text-color:                 @fg;
}

element alternate.normal {
    background-color:           transparent;
    text-color:                 @fg;
}

element selected.normal {
    background-color:           @bg-alt;
    text-color:                 @on-accent;
    border:                     0px 0px 0px 4px; 
    border-color:               @accent;
}

element-text {
    background-color:           transparent;
    text-color:                 inherit;
    vertical-align:             0.5;
}
